{% load guardian_tags %}
<table class="table table-hover">
  <thead>
    <tr>
      <th class="align-top col-2">ID</th>
      <th class="align-top col-2">Name</th>
      <th class="align-top col-auto">Description</th>
      <th class="align-top col-4">Permission level</th>
      <th class="align-top col-4"></th>
    </tr>
  </thead>
  <tbody id="upd">
    {% if group is not None %}
      {% for par in page_obj.object_list %}
        {% get_obj_perms group for par as "perms" %}
        <tr>
          <td class="align-top col-1">{{ par.id }}</td>
          <td class="align-top col-2">{{ par.name }}</td>
          {% autoescape on %}
            <td class="align-top col-5">{{ par.description }}</td>
          {% endautoescape %}
          <td class="align-top col-auto">
            <div class="input-group justify-content-between" id="igroup-{{ par.id }}">
              <div class="form-check form-check-inline">
                <input 
                  class="form-check-input" 
                  type="radio" 
                  name="radio-{{ par.id }}" 
                  id="c-{{ par.id }}" 
                  value="0"
                  data-param-id="{{ par.id }}"
                  {% if "change_parameter" in perms %}
                    checked
                  {% endif %}
                >
                <label class="form-check-label" for="c-{{ par.id }}">Change</label>
              </div>
              <div class="form-check form-check-inline">
                <input 
                  class="form-check-input" 
                  type="radio" 
                  name="radio-{{ par.id }}" 
                  id="v-{{ par.id }}" 
                  value="1"
                  data-param-id="{{ par.id }}"
                  {% if "view_parameter" in perms and "change_parameter" not in perms %} 
                    checked
                  {% endif %}
                >
                <label class="form-check-label" for="v-{{ par.id }}">View</label>
              </div>
              <div class="form-check form-check-inline">
                <input 
                  class="form-check-input" 
                  type="radio" 
                  name="radio-{{ par.id }}" 
                  id="n-{{ par.id }}" 
                  value="2"
                  data-param-id="{{ par.id }}"
                  {% if "change_parameter" not in perms and "view_parameter" not in perms %} 
                    checked
                  {% endif %}
                >
                <label class="form-check-label" for="n-{{ par.id }}">No permissions</label>
              </div>
            </div>
          </td>
          <td class="align-bottom text-center col-1">
            <button 
              class="col-auto text-end btn btn-link btn-sm undo disabled" 
              data-coreui-toggle="tooltip" 
              data-coreui-placement="top" 
              title="Undo" 
              type="button" 
              id="{{ par.id }}" 
              href="{{ par.id }}"
            >
              <svg class="icon icon-xl" aria-hidden="true">
                <use href="/static/assets/icons/undo-icon.svg#undo"></use>
              </svg>
            </button>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="5">
          <span>Empty result</span>
        </td>
      </tr>
    {% endif %}
  </tbody> 
</table>