<div class="card text-bg-secondary border-dark">
    <h3 class="card-header">Filters</h3>
    <div class="card-body">
        <h4 class="card-title accordion-button collapsed" data-coreui-toggle="collapse" href="#collapseListScope" role="button" aria-expanded="false" aria-controls="collapseList">SCOPE</h4>
        <div class="collapse list-group mb-4" id="collapseListScope">
        {% for c in components %}
            {% if filter_scope == c.id %}
            <button class="list-group-item list-group-item-secondary list-group-item-action d-inline-flex justify-content-between align-items-center scopeList active" type="button" data-coreui-toggle="list" href="{{ c.id }}" aria-controls="list-home" aria-current="true">
            {% else %}
            <button class="list-group-item list-group-item-secondary list-group-item-action d-inline-flex justify-content-between align-items-center scopeList" type="button" data-coreui-toggle="list" href="{{ c.id }}" aria-controls="list-home" >
            {% endif %}
            {{ c.name }}<span class="badge bg-info rounded-pill">{{ c.cnt }}</span></button>
        {% endfor %}
        </div>

        <h4 class="card-title accordion-button collapsed" data-coreui-toggle="collapse" href="#collapseListStatus" role="button" aria-expanded="false" aria-controls="collapseList">STATUS</h4>
        <div class="collapse list-group" id="collapseListStatus">
            ...
        </div>
    </div>
</div>