<div class="card text-bg-secondary border-dark">
    <h3 class="card-header">Filters</h3>
    <div class="card-body">
        <h4 class="card-title accordion-button collapsed" data-coreui-toggle="collapse" href="#collapseListScope" role="button" aria-expanded="false" aria-controls="collapseList">SCOPE</h4>
        <div class="collapse list-group mb-4" id="collapseListScope">
            ...
        </div>

        <h4 class="card-title accordion-button collapsed" data-coreui-toggle="collapse" href="#collapseListStatus" role="button" aria-expanded="false" aria-controls="collapseList">STATUS</h4>
        <div class="collapse list-group mb-4" id="collapseListStatus">
            ...
        </div>
    </div>
</div>