<div class="row-auto ms-md-5 ps-md-5 me-md-5 pe-md-5">
  <ul class="list-group list-group-flush" id="tasks-list"> 
    {% csrf_token %}
    {% if tasks %}
    {% for task in tasks %}
      <li class="list-group-item bg-light  pe-0 ps-0 mb-3"> 
        <div class="d-flex flex-column justify-content-start"> 
          
          <div class="row-auto mb-4"> 
            <span class="display-6">{{ task.name }} Task</span>
          </div>
          
          <div class="row-auto d-flex flex-wrap justify-content-start align-items-center mb-2">
  
            <div class="col-auto me-4 d-flex align-items-center" id="{{ task.id }}-task-status">
              <div class="me-4">
                <span>Status</span>
              </div>
              <div>
                {% if task.state in 'success, failed, upstream_failed, skipped, no_status' %}
                <svg class="icon icon-xxl" aria-hidden="true">
                  <use href="/static/assets/icons/tasks-icons.svg#{{ task.state }}"></use>
                </svg>
                {% elif task.state == 'running' or task.state == 'queued' %}
                <div class="spinner-border" aria-hidden="true" id="run-task-spinner-{{ task.id }}"></div>
                {% else %}
                <svg class="icon icon-xxl" aria-hidden="true">
                  <use href="/static/assets/icons/tasks-icons.svg#default"></use>
                </svg>
                {% endif %}
              </div>
              <div class="ms-1">
                <strong role="status" id="{{ task.id }}-cur-state">{{ task.state|capfirst }}</strong>
              </div>
            </div>
  
            <div class="col-auto me-4 d-flex align-items-center">
              <div>
                <svg class="icon icon-xxl" aria-hidden="true">
                  <use href="/static/assets/icons/tasks-icons.svg#start-time"></use>
                </svg>
              </div>
              <div class="ms-1">
                <strong class="ms-1" id="{{ task.id }}-logical-time">
                {% if task.time %}
                {{ task.time }}
                {% else %}
                Not started
                {% endif %}
              </strong>
              </div>
            </div>
  
            <div class="col d-flex align-items-center" id="duration-or-abort" name="{{ task.id }}">
              {% if task.state == 'success' %}
              <svg class="icon icon-xxl" aria-hidden="true">
                <use href="/static/assets/icons/tasks-icons.svg#duration"></use>
              </svg>
              <strong class="ms-1">{{ task.duration }}</strong>
              {% elif task.state == 'failed' %}
              <button class="btn btn-white btn-outline-dark restart-task-btn" id="restart-task-btn-{{ task.id }}" data-task-id="{{ task.id }}" data-op-type="restart">Restart</button>
              {% elif task.state == 'running' or task.state == 'queued' %}
              <button class="btn btn-white btn-outline-dark abort-task-btn" id="abort-task-btn-{{ task.id }}" data-task-id="{{ task.id }}" data-op-type="abort">Abort</button>
              {% endif %}
            </div>
  
          </div>
        
          <div class="row accordion-item bg-light ps-0 pe-0 border-0">
            <div class="col-auto">
              <button 
                class="btn-ghost-dark accordion-button collapsed bg-light shadow-none collapse-steps-btn ps-0 d-flex flex-row-reverse gap-1" 
                name="{{ task.id }}" id="collapse-steps-btn-{{ task.id }}" 
                type="button" 
                data-coreui-toggle="collapse" 
                data-coreui-target="#collapseSteps-{{ task.id }}" 
                aria-expanded="false" 
                aria-controls="collapseSteps-{{ task.id }}"
              >
                Completed {{ task.completed_steps }} of {{ task.total_steps }} step(s).
              </button>
            </div>
          </div>

  
          <div class="row-auto">
            <div class="collapse" id="collapseSteps-{{ task.id }}">
              <div class="accordion" id="accordionSteps-{{ task.id }}">
              {% for subtask in task.subtasks %}
                <div class="accordion-item bg-light">
                  <h2 class="accordion-header">
                    <button 
                      class="accordion-button collapsed bg-light collapseBtn" 
                      name="{{ subtask.id }}" 
                      id="collapseBtn-{{ subtask.id }}" 
                      type="button" 
                      data-coreui-toggle="collapse" 
                      data-coreui-target="#collapseSubtask-{{ subtask.id }}"
                      aria-expanded="false" 
                      aria-controls="collapseSubtask-{{ subtask.id }}"
                    >
                      <strong class="ms-1" role="status" id="{{ subtask.id }}-sub-cur-state">Loading...</strong>   
                    </button>
                  </h2>
                  <div id="collapseSubtask-{{ subtask.id }}" class="accordion-collapse collapse collapseLogs" data-coreui-parent="#accordionSteps-{{ task.id }}" data-task-id="{{ task.id }}" data-subtask-id="{{ subtask.id }}">
                    <div class="accordion-body overflow-auto" id="collapseSubtaskBody-{{ subtask.id }}" style="max-height: 50vh;">
                      <article class="pt-4 pb-4 bg-white ps-4 pe-4 rounded-2">
                        <p class="mb-0">Waiting for logs<p>
                      </article>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
  
          </div>
  
          
          
        </div>
      </li>
    {% endfor %}
    {% else %}
    <li class="list-group-item bg-light"> 
      <span class="fs-3">No tasks</span>
    </li>
    {% endif %}
  </ul>
</div>