{% extends "layouts/base.html" %}

{% block title %} Configuration {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
    <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}



<div class="container-fluid">
  <div class="row justify-content-between bg-black bg-gradient header mb-4">
    <div class="rounded col-4" id="search-field">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" {% if search_str %}value="{{ search_str }}"{% endif %}/>
    </div>
    
  </div>
  <form action="{% url 'cfg:configuration' %}" class="input_form" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-3">  
        {% include './includes/filter-card.html' %} 
      </div>
      <div class="col-9">
        {% include './includes/params-table.html' %} 
      </div>    
    </div>

    <div class="row footer mt-4">
      <div class="col-3">
        <nav aria-label="...">
          <ul class="pagination pagination-lg" id="upd2">
            {% for i in page_obj.paginator.page_range %}
            <li class="page-item{% if i == 1 %} active{% endif %}" id="{{ i }}">
              <button type="button" class="page-link" href="{{ i }}">{{ i }}</button>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>

    <div class="row justify-content-end footer footer-sticky bg-black bg-gradient">
      <div class="col-2">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-coreui-toggle="modal" data-coreui-target="#confirmSaveModal" id="show-modal-btn">
          Save changes
        </button>
      </div>
    </div>


  </form>

  
  
  
</div>
{% include './includes/confirm-save-modal.html' %} 
{% include './includes/toast-saved.html' %} 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  
  
  <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>
  
  <script type="text/javascript" src="/static/config_management/js/functions.js"></script>
  <script type="text/javascript" src="/static/config_management/js/ajax-pagination.js"></script>
  <script type="text/javascript" src="/static/config_management/js/select-filter.js"></script>
  <script type="text/javascript" src="/static/config_management/js/search.js"></script>
  <script type="text/javascript" src="/static/config_management/js/fix-changes.js"></script>
  <script type="text/javascript" src="/static/config_management/js/show-changes.js"></script>
  <script type="text/javascript" src="/static/config_management/js/save-changes.js"></script>
  <script type="text/javascript" src="/static/config_management/js/show-status-filter.js"></script>
  <script type="text/javascript" src="/static/config_management/js/select-status-filter.js"></script>
  <script type="text/javascript" src="/static/config_management/js/restore-default-value.js"></script>
  
{% endblock javascripts %}

