{% extends "layouts/base.html" %}

{% block title %} Configuration {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
  <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid d-flex flex-column flex-fill">

    <div class="row justify-content-between bg-black bg-gradient header mb-4">
      <div class="rounded col-4" id="search-field">
        <input 
          class="form-control rounded"
          type="search"  
          placeholder="Search"
          aria-label="Search" 
          aria-describedby="search-addon" 
          {% if search_str %}
            value="{{ search_str }}"
          {% endif %}
        >
      </div>
      <a 
        class="col-auto text-center btn btn-link btn-sm"
        data-coreui-toggle="tooltip"
        data-coreui-placement="top"
        {% if task_state_running %}
        title="Synchronization process in progress"
        {% elif not_sync_cnt == 0 %}
        title="All resources are synchronized"
        {% elif not_sync_cnt == 1 %}
        title="{{ not_sync_cnt }} resource requires synchronization"
        {% else %}
        title="{{ not_sync_cnt }} resources require synchronization"
        {% endif %}
        type="button"
        id="sync-btn"
        {% if task_state_running or not_sync_cnt == 0 %}
        href="{% url 'tasks:tasks' %}"
        {% else %}
        href="{% url 'tasks:sync' %}"
        {% endif %}
      >
        {% if task_state_running %}
        <div class="spinner-border text-warning" aria-hidden="true" id="in-progress-spinner"></div>
        {% else %}
        <svg class="icon icon-xxl" aria-hidden="true">
          {% if not_sync_cnt == 0 %}
          <use href="/static/assets/icons/configuration-icons.svg#ok"></use>
          {% else %}
          <use href="/static/assets/icons/configuration-icons.svg#warn"></use>
          {% endif %}
        </svg>
        {% endif %}
      </a>
    </div>

    <div class="row flex-fill">
      <div class="col-sm-3">  
        {% include './includes/filter-card.html' %} 
      </div>
      <div class="col-sm-9">
        <form action="{% url 'cfg:configuration' %}" class="input_form" method="post">
          {% csrf_token %}
          {% include './includes/params-table.html' %} 
        </form>
      </div>    
    </div>

    <div class="row footer mt-4 d-flex justify-content-between">

      <div class="col-sm-auto ">
        <nav class="nav flex-row" aria-label="...">
          <ul class="pagination pagination-md text-sm-center" id="upd2"></ul>
        </nav>
      </div>

      <div class="col-auto">
        <div class="d-flex align-items-center">
          <select class="form-select me-2 col" aria-label="params-per-page" id="params-per-page">
            <option value="5" {% if params_per_page == "5" %}selected{% endif %}>5</option>
            <option value="10" {% if params_per_page == "10" %}selected{% endif %}>10</option>
            <option value="15" {% if params_per_page == "15" %}selected{% endif %}>15</option>
            <option value="20" {% if params_per_page == "20" %}selected{% endif %}>20</option>
            <option value="25" {% if params_per_page == "25" %}selected{% endif %}>25</option>
          </select>
          <span class="col-auto">Per Page</span>
        </div>
      </div>

    </div>

    <div class="row justify-content-end footer footer-sticky bg-black bg-gradient">
      <div class="col-sm-auto text-center">
        <!-- Button trigger modal -->
        <button 
          type="button" 
          class="btn btn-primary btn-lg" 
          data-coreui-toggle="modal" 
          data-coreui-target="#confirmSaveModal" 
          id="show-modal-btn"
        >Save changes</button>
      </div>
    </div>

  </div>
  {% include 'includes/confirm-save-modal.html' with btn_text="Save" %} 
  {% include 'includes/toast-saved.html' %} 
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Plugins and scripts required by this view-->
  <script src="{{ STATIC_URL }} /static/jquery-3.7.1.min.js"></script>
  <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
  <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
  <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
  <script src="/static/assets/js/main.js"></script>

  <script src="/static/js/globals.js"></script>
  <script src="/static/js/exceptions.js"></script>
  <script src="/static/js/helpers.js"></script>
  <script src="/static/js/checkers.js"></script>
  <script src="/static/js/decorators.js"></script>
  <script src="/static/js/error-handlers.js"></script>
  <script src="/static/config_management/js/globals.js"></script>
  <script src="/static/config_management/js/helpers.js"></script>
  <script src="/static/config_management/js/handlers.js"></script>
  <script 
    src="/static/config_management/js/main.js" 
    page_n="{{ page_obj.number }}" 
    num_pages="{{ page_obj.paginator.num_pages }}"
    task_state_running="{{ task_state_running }}"
  ></script>
  
{% endblock javascripts %}

