{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'config_management/css/index.css'%}" type="text/css">
    <head>
        <div class="container_header">
            <div class="elem">
                <img src="{% static 'auth_app/img/InnoSTage.png'%}" alt="Emblem" id="el1">
                <h1 class="main-title" id="el2">YARIK management</h1>
            </div>
            {% if user.is_anonymous %}
            <div class="elem"> Anonumous</div>
            {% elif user.is_superuser %}
            <div class="elem"> Admin: {{ user.username }} </div>
            {% else %}
            <div class="elem"> {{ user.username }} </div>
            {% endif %}
        </div>
        <div class="navbar">
            <a href="{% url 'cfg:index' %}">Home</a>
            <a class="active" href="{% url 'cfg:components' %}">Components</a>
            <a href="{% url 'auth:profile' %}">Profile</a>
            <a href="{% url 'admin:index' %}">Admin Panel</a>
        </div>
    </head>
    <body class="asbestos">
        <div class="toolbar">
            <div class="path">
                <a href="{% url 'cfg:components' %}">Components</a>
                <span> &#8594; </span>
                <a href="{% url 'cfg:configs' %}?component_id={{ cur_component.id }}">{{ cur_component.name }}</a>
                <span> &#8594; </span>
                <span>{{ cur_config.name }}</span>
            </div>
            <input type="text" id="searchInput" name="search" oninput="updateTable();" placeholder="Search..." class="search">
        </div>
        <form action="{% url 'cfg:editparams' %}" method="post" id="edit-form">
            {% csrf_token %}
            {{ result|safe }}
            <br>
            <input type="submit" value="Save" id="save-btn"> {{ errors }}
        </form>
    </body>
    <script src="{% static 'config_management/js/cell_expand.js' %}"></script>
    <script src="{% static 'config_management/js/mark_changed.js' %}"></script> 
    <script src="{% static 'config_management/js/pagination.js' %}"></script>
    <script src="{% static 'config_management/js/block_btn.js' %}"></script>
</html>