{% load static %}
<link rel="stylesheet" href="{% static 'auth_app/css/login.css'%}" type="text/css">
<head>
    <div class="container_header">
        <img style="width: 5%; height: 10%;" src="{% static 'auth_app/img/InnoSTage.png'%}" alt="Emblem">
        <h1 class="main-title">YARIK management</h1>
    </div>
</head>
<body class="asbestos">
    <div class="container">
        <div class="elem clouds">
            <h3>Authorization</h3>
            <form action="{% url 'auth:login' %}" method="post">
                {% csrf_token %}
                {{ form.login.label }} <br>
                {{ form.login }} <br>
                {{ form.pswd.label }}<br>
                {{ form.pswd }} <br>
                <span>{% if wrong %}<div class="err">Incorrect username or password!</div> {% else %} <div class="err">   </div>{% endif %}</span> <br>
                <input type="submit" value="LogIn" class="wet-asphalt btn">
            </form>
        </div>
    </div>
</body>