{% extends "layouts/base.html" %}

{% block title %} Permissions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    
  <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid d-flex flex-column flex-fill">

    <div class="row justify-content-between bg-black bg-gradient header mb-4">
      <div class="rounded col-4" id="search-field">
        <input 
          class="form-control rounded" 
          type="search" 
          placeholder="Search" 
          aria-label="Search" 
          aria-describedby="search-addon" 
          {% if search_str %}
          value="{{ search_str }}"
          {% endif %}
        >
      </div>
    </div>

    <div class="row ms-2 me-2 justify-content-start mb-2">
      <div class="col-md-auto">
        <label for="select-user">Select user</label>
      </div>
      <div class="col-md-auto">
        <select class="form-select" id="select-user">
          <option{% if not user %} selected{% endif %}>---</option>
          {% for u in users %}
            <option 
              value="{{ u.id }}" 
              {% if user and user.username == u.username %}
                selected
              {% endif %}
            >{{ u.username }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row flex-fill">
      <div class="col-sm ms-2 me-2">
        <form class="input_form" action="{% url 'perm:permissions' %}" method="post">
          {% csrf_token %}
          {% include './includes/params-table.html' %} 
        </form>
      </div>    
    </div>

    <div class="row footer mt-4 d-flex justify-content-between">

      <div class="col-sm-auto ">
        <nav class="nav flex-row" aria-label="...">
          <ul class="pagination pagination-md text-sm-center" id="upd2"></ul>
        </nav>
      </div>
    
      <div class="col-auto">
        <div class="d-flex align-items-center">
          <select class="form-select me-2 col" aria-label="params-per-page" id="params-per-page">
            <option value="5" {% if params_per_page == "5" %}selected{% endif %}>5</option>
            <option value="10" {% if params_per_page == "10" %}selected{% endif %}>10</option>
            <option value="15" {% if params_per_page == "15" %}selected{% endif %}>15</option>
            <option value="20" {% if params_per_page == "20" %}selected{% endif %}>20</option>
            <option value="25" {% if params_per_page == "25" %}selected{% endif %}>25</option>
          </select>
          <span class="col-auto">Per Page</span>
        </div>
      </div>
    
    </div>

    <div class="row justify-content-end footer footer-sticky bg-black bg-gradient">
      <div class="col-sm-auto text-center">
        <!-- Button trigger modal -->
        <button 
          class="btn btn-primary btn-lg" 
          type="button" 
          data-coreui-toggle="modal" 
          data-coreui-target="#confirmSaveModal" 
          id="show-modal-btn"
        >Apply changes</button>
      </div>
    </div>

  </div>

  {% include 'includes/confirm-save-modal.html' with btn_text="Apply" %} 
  {% include 'includes/toast-saved.html' %} 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Plugins and scripts required by this view-->
    <script src="{{ STATIC_URL }} /static/jquery-3.7.1.min.js"></script>
    <script src="/static/assets/vendors/chart.js/js/chart.min.js"></script>
    <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
    <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script src="/static/assets/js/main.js"></script>

    <script src="/static/js/exceptions.js"></script>
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/error-handlers.js"></script>
    <script src="/static/permission_management/js/globals.js"></script>
    <script src="/static/permission_management/js/helpers.js"></script>
    <script src="/static/permission_management/js/change-user.js"></script>
    <script src="/static/permission_management/js/change-perm.js"></script>
    <script src="/static/permission_management/js/show-changed-perms.js"></script>
    <script src="/static/permission_management/js/save-perms.js"></script>
    <script src="/static/permission_management/js/select-page.js"></script>
    <script src="/static/permission_management/js/set-params-per-page.js"></script>
    <script src="/static/permission_management/js/search.js"></script>
    <script 
        src="/static/permission_management/js/main.js" 
        page_n="{{ page_obj.number }}" 
        num_pages="{{ page_obj.paginator.num_pages }}"
    ></script>
  
{% endblock javascripts %}