<!-- Modal -->
<div 
  class="modal fade" 
  id="alertModal" 
  data-coreui-backdrop="static" 
  data-coreui-keyboard="false" 
  tabindex="-1" 
  aria-labelledby="staticBackdropLabel" 
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content" id="changes-modal-list">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Are you sure?</h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalBody">...</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" id="modalCancelBtn" data-coreui-dismiss="modal">Cancel</button>
        <button class="btn btn-primary" type="button" id="modalContinueBtn">Continue</button>
      </div>
    </div>
  </div>
</div>