<!-- Modal -->
<div 
  class="modal fade" 
  id="confirmSaveModal" 
  data-coreui-backdrop="static" 
  data-coreui-keyboard="false" 
  tabindex="-1" 
  aria-labelledby="staticBackdropLabel" 
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content" id="changes-modal-list">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmSaveModalLabel">Save changes?</h5>
        <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer">
        <input class="form-control" placeholder="Enter commit message" id="commit-msg" type="text"/>
        <button class="btn btn-secondary" type="button" id="modal-close-btn" data-coreui-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="button" id="save-changes-btn">{{ btn_text }}</button>
      </div>
    </div>
  </div>
</div>