{% extends "layouts/sidebar_base.html" %}

{% block sidebar_elements %}
  <li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}" id="home-sidebar-tab">
    <svg class="nav-icon text">
      <use xlink:href="/static/assets/icons/home-icon.svg#home"></use>
    </svg> Home</a></li>
  <li class="nav-item"><a class="nav-link" href="#">
    <svg class="nav-icon">
      <use xlink:href="/static/assets/icons/cluster-icon.svg#cluster"></use>
    </svg> Clusters</a></li>
  <li class="nav-item"><a class="nav-link" href="#">
    <svg class="nav-icon">
      <use xlink:href="/static/assets/icons/host-icon.svg#host"></use>
    </svg> Hosts</a></li>
{% endblock sidebar_elements %}

