{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'config_management/css/index.css'%}" type="text/css">
    <head>
        <div class="container_header">
            <div class="elem">
                <img src="{% static 'auth_app/img/InnoSTage.png'%}" alt="Emblem" id="el1">
                <h1 class="main-title" id="el2">YARIK management</h1>
            </div>
            {% if user.is_anonymous %}
            <div class="elem"> Anonumous</div>
            {% elif user.is_superuser %}
            <div class="elem"> Admin: {{ user.username }} </div>
            {% else %}
            <div class="elem"> {{ user.username }} </div>
            {% endif %}
        </div>
        <div class="navbar">
            <a href="{% url 'cfg:index' %}">Home</a>
            <a class="active" href="{% url 'cfg:components' %}">Components</a>
            <a href="{% url 'auth:profile' %}">Profile</a>
            <a href="{% url 'admin:index' %}">Admin Panel</a>
        </div>
    </head>
    <body class="asbestos">
        <div class="toolbar">
            <div class="path">
                <span>Select component</span>
            </div>
            <input type="text" id="searchInput" name="search" oninput="updateTable();" placeholder="Search..." class="search">
        </div>
        <table id="tbl">
            <thead>
                <tr class="table-head">
                    <th>Component name</th>
                    <th>Description</th>
                    <th>Total configs</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for cnt, c in components %}
                    <tr>
                        <td class="c1">
                            {{ c.name }}
                        </td>
                        <td class="c2">
                            {{ c.description }}
                        </td>
                        <td class="c3">
                            {{ cnt }}
                        </td>
                        <td class="c4"><a href="{% url 'cfg:configs' %}?component_id={{ c.id }}">Click to view configs</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="pagination" class="pages"></div>
    </body>
    <script src="{% static 'config_management/js/cell_expand.js' %}"></script>
    <script src="{% static 'config_management/js/pagination.js' %}"></script>
</html>