{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'config_management/css/index.css'%}" type="text/css">
    <head>
        <div class="container_header">
            <div class="elem">
                <img src="{% static 'auth_app/img/InnoSTage.png'%}" alt="Emblem" id="el1">
                <h1 class="main-title" id="el2">YARIK management</h1>
            </div>
            {% if user.is_anonymous %}
            <div class="elem"> Anonumous</div>
            {% elif user.is_superuser %}
            <div class="elem"> Admin: {{ user.username }} </div>
            {% else %}
            <div class="elem"> {{ user.username }} </div>
            {% endif %}
        </div>
        <div class="navbar">
            <a href="{% url 'cfg:index' %}">Home</a>
            <a class="active" href="{% url 'cfg:components' %}">Components</a>
            <a href="{% url 'auth:profile' %}">Profile</a>
            <a href="{% url 'admin:index' %}">Admin Panel</a>
        </div>
    </head>
    <body class="asbestos">
        <div class="path">
            <a href="{% url 'cfg:components' %}">Components</a>
            <span> &#8594; </span>
            <span>{{ cur_component.name }}</span>
        </div>
        <input type="text" id="searchInput" name="search" oninput="updateTable();" placeholder="Search...">
        <table id="tbl">
            <thead>
                <tr class="table-head">
                    <th>Config name</th>
                    <th>Description</th>
                    <th>Total editable parameters</th>
                    <th>Configure</th>
                </tr>
            </thead>
            <tbody>
                {% for cnt, f in files %}
                    <tr>
                        <td class="c1">
                            {{ f.name }}
                        </td>
                        <td class="c2">
                            {{ f.description }}
                        </td>
                        <td class="c3">
                            {{ cnt }}
                        </td>
                        <td class="c4"><a style="text-decoration: none;" href="{% url 'cfg:editparams' %}?file_id={{ f.id }}">Click to configure parameters</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="pagination"></div>
    </body>
    <script src="{% static 'config_management/js/cell_expand.js' %}"></script>  
    <script src="{% static 'config_management/js/pagination.js' %}"></script>
</html>