{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'config_management/css/index.css'%}" type="text/css">
    <head>
        <div class="container_header">
            <div class="elem">
                <img src="{% static 'auth_app/img/InnoSTage.png'%}" alt="Emblem" id="el1">
                <h1 class="main-title" id="el2">YARIK management</h1>
            </div>
            {% if user.is_anonymous %}
            <div class="elem"> Anonumous</div>
            {% elif user.is_superuser %}
            <div class="elem"> Admin: {{ user.username }} </div>
            {% else %}
            <div class="elem"> {{ user.username }} </div>
            {% endif %}
        </div>
        <div class="navbar">
            <a href="{% url 'cfg:index' %}">Home</a>
            <a class="active" href="{% url 'cfg:components' %}">Components</a>
            <a href="{% url 'auth:profile' %}">Profile</a>
            <a href="{% url 'admin:index' %}">Admin Panel</a>
        </div>
    </head>
    <body class="asbestos">
        <form action="{% url 'cfg:editparams' %}" method="post">
            {% csrf_token %}
            {{result|safe}}
            <br>
            <input type="submit" value="Сохранить"> {{ errors }}
        </form>
    </body>
</html>