<div class="sidebar sidebar-dark sidebar-fixed hide" id="sidebar">
  <div class="sidebar-brand d-none d-md-flex">
    <svg class="sidebar-brand-full" width="150" height="50" alt="YARIK Management Logo">
      <use xlink:href="/static/assets/brand/logo-no-background.svg#full"></use>
    </svg>
    <svg class="sidebar-brand-narrow" width="50" height="50" alt="YARIK Management Logo">
      <use xlink:href="/static/assets/brand/logo-no-background.svg#emblem"></use>
    </svg>
  </div>
  <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
      {% block sidebar_elements %}
          
      {% endblock sidebar_elements %}
  </ul>
  <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
</div>

